
<%= render 'layouts/carousel' %>

<div class="jumbotron center">
		<h1>Welcome to Purrrfect Match!</h1>
		<h3>The Nations #1 Cat Dating Site</h3>
	<p>
		<%= link_to "Log in", "#", class: "btn btn-primary btn-lg" %>
		<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
	</p>
</div>
